body {
    background-color: #FFD700;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
}
.main {
    margin: auto;
}
.Info img {
    padding : 15px;
    border : 5px solid black;
    margin : 10px;
}
.Names {
    font-weight: bold;
    font-size: 22px;
    text-transform: capitalize;
}
.Names img{
    height: 480px;
    width: 480px;
    border-radius: 25px;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0, 25 );
    padding : 15px;
    border : 5px solid black;
}

